<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/rating.css">

    <!-- JS rating star-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>APP RAITING</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!--navigation-->
                    <li class="nav-item active">
                        <a class="nav-link" href="/">SIGN IN <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signUp">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container text-center">
            <img src="/img/logo.png" width="200" class="rounded-circle">
            <h2 class="display-4">APP SOUNDCLOUD RATING</h2>
            <p class="lead">HACKTIV8</p>
        </div>
    </div>

    <div class="container" id="accordion">
        <% songs.forEach(song=>{ %>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#<%= song.title %>"
                                aria-expanded="true" aria-controls="<%= song.title %>">
                                <%= song.title %> <%= song.dataValues.avgRating %></li>
                            </button>
                        </h5>
                    </div>

                    <div id="<%= song.title %>" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" embed
                            src="<%= song.link %>"></iframe>
                        <div class="card-body">
                            <div class="row">
                            </div>
                            <div class="col">
                                <form action="/main/give-rating/<%=song.id%>" method="POST">
                                <p class="text-right" style="font-weight: bold">RATING
                                    <input id="input-1" data-id="<%= song.id %>" name="rating"
                                        class="rating-input rating rating-loading" data-min="0" data-max="5" type="number" step="0.01"
                                        data-step="0.1" type="submit" value="<%= song.dataValues.avgRating %>">
                                    <button type="submit" onClick="ratingInput()">rate</button>
                                </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

    <!--star-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .rating-loading {
            width: 25px;
            height: 25px;
            font-size: 0;
            color: #fff;
        }

        .rating-container .rating-stars {
            position: relative;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            line-height: 1.5em !important;
        }

        .rating-container .rating-input {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            font-size: 1px;
            border: none;
            background: 0 0;
            padding: 0;
            margin: 0
        }

        rating-disabled .rating-input,
        .rating-disabled .rating-stars {
            cursor: default;
        }

        .rating-container .star {
            display: inline-block;
            margin: 0 3px;
            text-align: center
        }

        .rating-container .star .far {
            line-height: 1.5;
        }

        .rating-container .star .fas {
            line-height: 1.5;
        }

        .rating-container .empty-stars {
            color: #aaa
        }

        .rating-container .filled-stars {
            position: absolute;
            left: 0;
            top: 0;
            margin: auto;
            color: #fde16d;
            white-space: nowrap;
            overflow: hidden;
            -webkit-text-stroke: 1px #777;
            text-shadow: 1px 1px #999
        }

        .rating-rtl {
            float: right
        }

        .rating-animate .filled-stars {
            transition: width .25s ease;
            -o-transition: width .25s ease;
            -moz-transition: width .25s ease;
            -webkit-transition: width .25s ease
        }

        .rating-rtl .filled-stars {
            left: auto;
            right: 0;
            -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
            -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
            -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0)
        }

        .rating-rtl.is-star .filled-stars {
            right: .06em
        }

        .rating-rtl.is-heart .empty-stars {
            margin-right: .07em
        }

        .rating-xl {
            font-size: 2.6em
        }

        .rating-lg {
            font-size: 2.0em
        }

        .rating-md {
            font-size: 1.5em
        }

        .rating-sm {
            font-size: 1em
        }

        .rating-xs {
            font-size: 0.7em
        }

        .rating-container .clear-rating {
            display: none;
            color: #aaa;
            cursor: default;

            vertical-align: middle;
            font-size: 60%;
            padding-right: 5px
        }

        .clear-rating-active {
            cursor: pointer !important;
            display: inline-block !important;
        }

        .clear-rating-active:hover {
            color: #843534
        }

        .rating-container .caption {
            color: #999;
            display: inline-block;
            vertical-align: middle;
            font-size: 60%;
            margin-top: -.6em;
            margin-left: 5px;
            margin-right: 0
        }

        .rating-rtl .caption {
            margin-right: 5px;
            margin-left: 0
        }

        @media print {
            .rating-container .clear-rating {
                display: none
            }
        }
    </style>


    <script>

        ratingInput.on('change', function (e) {
            var url = "/main/give-rating/" + ratingInput.data("id") + "/" + e.target.value;
            // console.log(url)
            window.location.replace(url)
        })

    </script>
    <script>
        !function (e) { "use strict"; "function" == typeof define && define.amd ? define(["jquery"], e) : "object" == typeof module && module.exports ? module.exports = e(require("jquery")) : e(window.jQuery) }(function (e) { "use strict"; e.fn.ratingLocales = {}, e.fn.ratingThemes = {}; var t, a; t = { NAMESPACE: ".rating", DEFAULT_MIN: 0, DEFAULT_MAX: 5, DEFAULT_STEP: .5, isEmpty: function (t, a) { return null === t || void 0 === t || 0 === t.length || a && "" === e.trim(t) }, getCss: function (e, t) { return e ? " " + t : "" }, addCss: function (e, t) { e.removeClass(t).addClass(t) }, getDecimalPlaces: function (e) { var t = ("" + e).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/); return t ? Math.max(0, (t[1] ? t[1].length : 0) - (t[2] ? +t[2] : 0)) : 0 }, applyPrecision: function (e, t) { return parseFloat(e.toFixed(t)) }, handler: function (e, a, n, r, i) { var l = i ? a : a.split(" ").join(t.NAMESPACE + " ") + t.NAMESPACE; r || e.off(l), e.on(l, n) } }, a = function (t, a) { var n = this; n.$element = e(t), n._init(a) }, a.prototype = { constructor: a, _parseAttr: function (e, a) { var n, r, i, l, s = this, o = s.$element, c = o.attr("type"); if ("range" === c || "number" === c) { switch (r = a[e] || o.data(e) || o.attr(e), e) { case "min": i = t.DEFAULT_MIN; break; case "max": i = t.DEFAULT_MAX; break; default: i = t.DEFAULT_STEP }n = t.isEmpty(r) ? i : r, l = parseFloat(n) } else l = parseFloat(a[e]); return isNaN(l) ? i : l }, _parseValue: function (e) { var t = this, a = parseFloat(e); return isNaN(a) && (a = t.clearValue), !t.zeroAsNull || 0 !== a && "0" !== a ? a : null }, _setDefault: function (e, a) { var n = this; t.isEmpty(n[e]) && (n[e] = a) }, _initSlider: function (e) { var a = this, n = a.$element.val(); a.initialValue = t.isEmpty(n) ? 0 : n, a._setDefault("min", a._parseAttr("min", e)), a._setDefault("max", a._parseAttr("max", e)), a._setDefault("step", a._parseAttr("step", e)), (isNaN(a.min) || t.isEmpty(a.min)) && (a.min = t.DEFAULT_MIN), (isNaN(a.max) || t.isEmpty(a.max)) && (a.max = t.DEFAULT_MAX), (isNaN(a.step) || t.isEmpty(a.step) || 0 === a.step) && (a.step = t.DEFAULT_STEP), a.diff = a.max - a.min }, _initHighlight: function (e) { var t, a = this, n = a._getCaption(); e || (e = a.$element.val()), t = a.getWidthFromValue(e) + "%", a.$filledStars.width(t), a.cache = { caption: n, width: t, val: e } }, _getContainerCss: function () { var e = this; return "rating-container" + t.getCss(e.theme, "theme-" + e.theme) + t.getCss(e.rtl, "rating-rtl") + t.getCss(e.size, "rating-" + e.size) + t.getCss(e.animate, "rating-animate") + t.getCss(e.disabled || e.readonly, "rating-disabled") + t.getCss(e.containerClass, e.containerClass) }, _checkDisabled: function () { var e = this, t = e.$element, a = e.options; e.disabled = void 0 === a.disabled ? t.attr("disabled") || !1 : a.disabled, e.readonly = void 0 === a.readonly ? t.attr("readonly") || !1 : a.readonly, e.inactive = e.disabled || e.readonly, t.attr({ disabled: e.disabled, readonly: e.readonly }) }, _addContent: function (e, t) { var a = this, n = a.$container, r = "clear" === e; return a.rtl ? r ? n.append(t) : n.prepend(t) : r ? n.prepend(t) : n.append(t) }, _generateRating: function () { var a, n, r, i = this, l = i.$element; n = i.$container = e(document.createElement("div")).insertBefore(l), t.addCss(n, i._getContainerCss()), i.$rating = a = e(document.createElement("div")).attr("class", "rating-stars").appendTo(n).append(i._getStars("empty")).append(i._getStars("filled")), i.$emptyStars = a.find(".empty-stars"), i.$filledStars = a.find(".filled-stars"), i._renderCaption(), i._renderClear(), i._initHighlight(), n.append(l), i.rtl && (r = Math.max(i.$emptyStars.outerWidth(), i.$filledStars.outerWidth()), i.$emptyStars.width(r)), l.appendTo(a) }, _getCaption: function () { var e = this; return e.$caption && e.$caption.length ? e.$caption.html() : e.defaultCaption }, _setCaption: function (e) { var t = this; t.$caption && t.$caption.length && t.$caption.html(e) }, _renderCaption: function () { var a, n = this, r = n.$element.val(), i = n.captionElement ? e(n.captionElement) : ""; if (n.showcaption) { if (a = n.fetchCaption(r), i && i.length) return t.addCss(i, "caption"), i.html(a), void (n.$caption = i); n._addContent("caption", '<div class="caption">' + a + "</div>"), n.$caption = n.$container.find(".caption") } }, _renderClear: function () { var a, n = this, r = n.clearElement ? e(n.clearElement) : ""; if (n.showClear) { if (a = n._getClearClass(), r.length) return t.addCss(r, a), r.attr({ title: n.clearButtonTitle }).html(n.clearButton), void (n.$clear = r); n._addContent("clear", '<div class="' + a + '" title="' + n.clearButtonTitle + '">' + n.clearButton + "</div>"), n.$clear = n.$container.find("." + n.clearButtonBaseClass) } }, _getClearClass: function () { var e = this; return e.clearButtonBaseClass + " " + (e.inactive ? "" : e.clearButtonActiveClass) }, _toggleHover: function (e) { var t, a, n, r = this; e && (r.hoverChangeStars && (t = r.getWidthFromValue(r.clearValue), a = e.val <= r.clearValue ? t + "%" : e.width, r.$filledStars.css("width", a)), r.hoverChangeCaption && (n = e.val <= r.clearValue ? r.fetchCaption(r.clearValue) : e.caption, n && r._setCaption(n + ""))) }, _init: function (t) { var a, n = this, r = n.$element.addClass("rating-input"); return n.options = t, e.each(t, function (e, t) { n[e] = t }), (n.rtl || "rtl" === r.attr("dir")) && (n.rtl = !0, r.attr("dir", "rtl")), n.starClicked = !1, n.clearClicked = !1, n._initSlider(t), n._checkDisabled(), n.displayOnly && (n.inactive = !0, n.showClear = !1, n.showcaption = !1), n._generateRating(), n._initEvents(), n._listen(), a = n._parseValue(r.val()), r.val(a), r.removeClass("rating-loading") }, _initEvents: function () { var e = this; e.events = { _getTouchPosition: function (a) { var n = t.isEmpty(a.pageX) ? a.originalEvent.touches[0].pageX : a.pageX; return n - e.$rating.offset().left }, _listenClick: function (e, t) { return e.stopPropagation(), e.preventDefault(), e.handled === !0 ? !1 : (t(e), void (e.handled = !0)) }, _noMouseAction: function (t) { return !e.hoverEnabled || e.inactive || t && t.isDefaultPrevented() }, initTouch: function (a) { var n, r, i, l, s, o, c, u, d = e.clearValue || 0, p = "ontouchstart" in window || window.DocumentTouch && document instanceof window.DocumentTouch; p && !e.inactive && (n = a.originalEvent, r = t.isEmpty(n.touches) ? n.changedTouches : n.touches, i = e.events._getTouchPosition(r[0]), "touchend" === a.type ? (e._setStars(i), u = [e.$element.val(), e._getCaption()], e.$element.trigger("change").trigger("rating.change", u), e.starClicked = !0) : (l = e.calculate(i), s = l.val <= d ? e.fetchCaption(d) : l.caption, o = e.getWidthFromValue(d), c = l.val <= d ? o + "%" : l.width, e._setCaption(s), e.$filledStars.css("width", c))) }, starClick: function (t) { var a, n; e.events._listenClick(t, function (t) { return e.inactive ? !1 : (a = e.events._getTouchPosition(t), e._setStars(a), n = [e.$element.val(), e._getCaption()], e.$element.trigger("change").trigger("rating.change", n), void (e.starClicked = !0)) }) }, clearClick: function (t) { e.events._listenClick(t, function () { e.inactive || (e.clear(), e.clearClicked = !0) }) }, starMouseMove: function (t) { var a, n; e.events._noMouseAction(t) || (e.starClicked = !1, a = e.events._getTouchPosition(t), n = e.calculate(a), e._toggleHover(n), e.$element.trigger("rating.hover", [n.val, n.caption, "stars"])) }, starMouseLeave: function (t) { var a; e.events._noMouseAction(t) || e.starClicked || (a = e.cache, e._toggleHover(a), e.$element.trigger("rating.hoverleave", ["stars"])) }, clearMouseMove: function (t) { var a, n, r, i; !e.events._noMouseAction(t) && e.hoverOnClear && (e.clearClicked = !1, a = '<span class="' + e.clearCaptionClass + '">' + e.clearCaption + "</span>", n = e.clearValue, r = e.getWidthFromValue(n) || 0, i = { caption: a, width: r, val: n }, e._toggleHover(i), e.$element.trigger("rating.hover", [n, a, "clear"])) }, clearMouseLeave: function (t) { var a; e.events._noMouseAction(t) || e.clearClicked || !e.hoverOnClear || (a = e.cache, e._toggleHover(a), e.$element.trigger("rating.hoverleave", ["clear"])) }, resetForm: function (t) { t && t.isDefaultPrevented() || e.inactive || e.reset() } } }, _listen: function () { var a = this, n = a.$element, r = n.closest("form"), i = a.$rating, l = a.$clear, s = a.events; return t.handler(i, "touchstart touchmove touchend", e.proxy(s.initTouch, a)), t.handler(i, "click touchstart", e.proxy(s.starClick, a)), t.handler(i, "mousemove", e.proxy(s.starMouseMove, a)), t.handler(i, "mouseleave", e.proxy(s.starMouseLeave, a)), a.showClear && l.length && (t.handler(l, "click touchstart", e.proxy(s.clearClick, a)), t.handler(l, "mousemove", e.proxy(s.clearMouseMove, a)), t.handler(l, "mouseleave", e.proxy(s.clearMouseLeave, a))), r.length && t.handler(r, "reset", e.proxy(s.resetForm, a), !0), n }, _getStars: function (e) { var t, a = this, n = '<span class="' + e + '-stars">'; for (t = 1; t <= a.stars; t++)n += '<span class="star">' + a[e + "Star"] + "</span>"; return n + "</span>" }, _setStars: function (e) { var t = this, a = arguments.length ? t.calculate(e) : t.calculate(), n = t.$element, r = t._parseValue(a.val); return n.val(r), t.$filledStars.css("width", a.width), t._setCaption(a.caption), t.cache = a, n }, showStars: function (e) { var t = this, a = t._parseValue(e); return t.$element.val(a), t._setStars() }, calculate: function (e) { var a = this, n = t.isEmpty(a.$element.val()) ? 0 : a.$element.val(), r = arguments.length ? a.getValueFromPosition(e) : n, i = a.fetchCaption(r), l = a.getWidthFromValue(r); return l += "%", { caption: i, width: l, val: r } }, getValueFromPosition: function (e) { var a, n, r = this, i = t.getDecimalPlaces(r.step), l = r.$rating.width(); return n = r.diff * e / (l * r.step), n = r.rtl ? Math.floor(n) : Math.ceil(n), a = t.applyPrecision(parseFloat(r.min + n * r.step), i), a = Math.max(Math.min(a, r.max), r.min), r.rtl ? r.max - a : a }, getWidthFromValue: function (e) { var t, a, n = this, r = n.min, i = n.max, l = n.$emptyStars; return !e || r >= e || r === i ? 0 : (a = l.outerWidth(), t = a ? l.width() / a : 1, e >= i ? 100 : (e - r) * t * 100 / (i - r)) }, fetchCaption: function (e) { var a, n, r, i, l, s = this, o = parseFloat(e) || s.clearValue, c = s.starCaptions, u = s.starCaptionClasses; return o && o !== s.clearValue && (o = t.applyPrecision(o, t.getDecimalPlaces(s.step))), i = "function" == typeof u ? u(o) : u[o], r = "function" == typeof c ? c(o) : c[o], n = t.isEmpty(r) ? s.defaultCaption.replace(/\{rating}/g, o) : r, a = t.isEmpty(i) ? s.clearCaptionClass : i, l = o === s.clearValue ? s.clearCaption : n, '<span class="' + a + '">' + l + "</span>" }, destroy: function () { var a = this, n = a.$element; return t.isEmpty(a.$container) || a.$container.before(n).remove(), e.removeData(n.get(0)), n.off("rating").removeClass("rating rating-input") }, create: function (e) { var t = this, a = e || t.options || {}; return t.destroy().rating(a) }, clear: function () { var e = this, t = '<span class="' + e.clearCaptionClass + '">' + e.clearCaption + "</span>"; return e.inactive || e._setCaption(t), e.showStars(e.clearValue).trigger("change").trigger("rating.clear") }, reset: function () { var e = this; return e.showStars(e.initialValue).trigger("rating.reset") }, update: function (e) { var t = this; return arguments.length ? t.showStars(e) : t.$element }, refresh: function (t) { var a = this, n = a.$element; return t ? a.destroy().rating(e.extend(!0, a.options, t)).trigger("rating.refresh") : n } }, e.fn.rating = function (n) { var r = Array.apply(null, arguments), i = []; switch (r.shift(), this.each(function () { var l, s = e(this), o = s.data("rating"), c = "object" == typeof n && n, u = c.theme || s.data("theme"), d = c.language || s.data("language") || "en", p = {}, h = {}; o || (u && (p = e.fn.ratingThemes[u] || {}), "en" === d || t.isEmpty(e.fn.ratingLocales[d]) || (h = e.fn.ratingLocales[d]), l = e.extend(!0, {}, e.fn.rating.defaults, p, e.fn.ratingLocales.en, h, c, s.data()), o = new a(this, l), s.data("rating", o)), "string" == typeof n && i.push(o[n].apply(o, r)) }), i.length) { case 0: return this; case 1: return void 0 === i[0] ? this : i[0]; default: return i } }, e.fn.rating.defaults = { theme: "", language: "en", stars: 5, filledStar: '<i class="fas fa-star"></i>', emptyStar: '<i class="far fa-star"></i>', containerClass: "", size: "md", animate: !0, displayOnly: !1, rtl: !1, showClear: !0, showcaption: !0, starCaptionClasses: { .5: "badge badge-pill badge-danger", 1: "badge badge-pill badge-danger", 1.5: "badge badge-pill badge-warning", 2: "badge badge-pill badge-warning", 2.5: "badge badge-pill badge-info", 3: "badge badge-pill badge-info", 3.5: "badge badge-pill badge-primary", 4: "badge badge-pill badge-primary", 4.5: "badge badge-pill badge-success", 5: "badge badge-pill badge-success" }, clearButton: '<i class="fa fa-minus-circle"></i>', clearButtonBaseClass: "clear-rating", clearButtonActiveClass: "clear-rating-active", clearCaptionClass: "label label-default", clearValue: null, captionElement: null, clearElement: null, hoverEnabled: !0, hoverChangeCaption: !0, hoverChangeStars: !0, hoverOnClear: !0, zeroAsNull: !0 }, e.fn.ratingLocales.en = { defaultCaption: "{rating} Stars", starCaptions: { .5: "Half Star", 1: "One Star", 1.5: "One & Half Star", 2: "Two Stars", 2.5: "Two & Half Stars", 3: "Three Stars", 3.5: "Three & Half Stars", 4: "Four Stars", 4.5: "Four & Half Stars", 5: "Five Stars" }, clearButtonTitle: "Clear", clearCaption: "Not Rated" }, e.fn.rating.Constructor = a, e(document).ready(function () { var t = e("input.rating"); t.length && t.removeClass("rating-loading").addClass("rating-loading").rating() }) });
    </script>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->


        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

        </footer>
        <!-- Footer -->
        Teal Panel footer

</body>

</html>